<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/categories">Categorias</a></li>

    <li class="breadcrumb-item active">Formulário de categorias</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md"><h1 class="h2 border-left pl-2">Categorias</h1></div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">+ Nova Categoria</a>
  </div>
</div>
